*{
    margin: 0px;
    padding: 0px;
}
body{
    padding-top: 50px;
}
/* navigation bar */
nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: fixed;
    top: 0%;
    width: -webkit-fill-available;
    height: 50px;
  }
  nav div{
    padding: 5px;
  }
  h1.username{
    float: right;
    color: white;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
    color: white;
  }

/* end nav bar */

/* userlist */
#user_list{
    color: #444;
    overflow-y: scroll;
}
#user_list article{
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
#user_list article a{
    text-decoration: none;
    color: #444;
    display: flex;
    width: -webkit-fill-available;
}
#user_list article a img{
    margin-right: 10px;
    padding: 2px;
    height: 34px;
    border: 1px solid #aaa;
}
#user_list article a h1{
    align-self: center;
}
/* end user list */

#message_view{
    height: 500px;
    overflow-y: scroll;
}
#message_view p{
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    padding: 0.5px 5px;
    margin-bottom: 1px;
}

div#message_text{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
}
div#message_text input{
    padding: 10px;
    font-size: 16px;
}

input[type=text]{
    border: 1px solid #bebebe;
    width: 100%;
}
input[type=text]:focus{
    border: 1px solid #333;
    outline: none;
}
input[type=button]{
    width: 50px;
}
