
*{
    margin: 0px;
    padding: 0PX;
    color: #323232;
}
body{
    height: 1vh;
}
div#container{
    /* border: 2px solid #252525;
    border-radius: 15px; */
    background-color: rgb(239, 239, 239);
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    margin-top: 50%;
}
h1{
    text-align: center;
}
#container #inputs{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}
input[type=text]{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}
#submit{
    display: flex;
    justify-content: center;
}
input[type=submit]{
    padding: 10px;
    margin-left: 7px;
}
input[type=submit]:hover{
    background-color: #555;
    color: white;
    transition: 0.6s ease ;
    border: none;
}

#large_screen_message{
    display: none;
}

/* profilee */
#select_profiles{
    height: 175px;
    overflow-y: scroll;
}

input[type="radio"] {
    display: none;
  }
  
  label {
    cursor: pointer;
  }
  
  label img {
    border: 1px solid #ccc;
    padding: 5px;
  }
  
  input[type="radio"]:checked + label img {
    border-color: #999;
  }
  /* end profilee */