<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inbox</title>
    <link rel="stylesheet" media="screen and (max-width:600px)" href="{{url_for('static',filename='style/chat_small.css')}}">
    <link rel="stylesheet" media="screen and (min-width:601px)" href="{{url_for('static',filename='style/large.css')}}">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <h1>{{username}}</h1>
    </nav>
    <div id="user_list" style="float:right; border:1px solid black; height:100px;">
        {% for user in users %}
        <a href="/chat/{{user}}"> {{user}}</a>
        {% endfor %}
    </div>
    <h3 id="receivernm">{{recever}} </h3>
    <div id="message_view">
        <!-- messages will append here -->
    </div>
    <div id="message_text">
        <input type="text" name="message" id="message" placeholder="message..">
        <input type="button" value="send" id="send_message">
    </div>

    <script src="{{url_for('static', filename='js/chat.js')}}"></script>
    <script>
        
    </script>
</body>
<h1 id="large_screen_message">this website is not made for large screen</h1>
</html>




<!-- 
        <div id="user_list" style="float:right; border:1px solid black; height:100px;">
        {% for user in users %}
        <p> {{user}} </p>
        {% endfor %}
    </div>
 -->