<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inbox</title>
    <link rel="stylesheet" media="screen and (max-width:600px)" href="{{url_for('static',filename='style/chat_small.css')}}">
    <link rel="stylesheet" media="screen and (min-width:601px)" href="{{url_for('static',filename='style/large.css')}}">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <ul>
          <li><a href="/chatbox" style="font-size: 1.5em;">&lt;</a></li>
          <li><a href="#">
            <h1 class="recever_username">
            </h1>
          </a></li>
        </ul>
      </nav>
    <h3 id="receivernm">{{recever}} </h3>
    <div id="message_view">
        <!-- messages will append here -->
        <section class="sended_text">
            <h3>username</h3>
            <p>hello mesage</p>
        </section>
        <section class="receieved_text">
            <h3>username</h3>
            <p>hello mesage</p>
        </section>
        <section class="sended_text">
            <h3>username</h3>
            <p>hello mesage</p>
        </section>
        <section class="receieved_text">
            <h3>username</h3>
            <p>hello mesage</p>
        </section>
        <section class="receieved_text">
            <h3>username</h3>
            <p>hello mesage</p>
        </section>
    </div>

    <!-- inputing messages -->
    <div id="message_text">
        <input type="text" name="message" id="message" placeholder="message..">
        <input type="button" value="send" id="send_message" class="{{stat}}">
    </div>

    <script src="{{url_for('static', filename='js/cookies.js')}}"></script>
    <script src="{{url_for('static', filename='js/chat.js')}}"></script>

    <script>

        

    </script>
</body>
</html>