<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat room</title>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='chtrmjs.js')}}"></script>
</head>
<body>
    <nav style="display: flex; margin-bottom: 100px;">
        <img src="" alt="logo">
        <h1>vls</h1>
    </nav>
    <h1 style="text-align: center;">chat rooms</h1>
    <main>
        <article style="display: flex;">
            <img src="{{url_for('static',filename='rmlogoo.tiff')}}" alt="icon">
            <h3>room</h3>
        </article>
    </main>

    <section>
        <input type="text" id="user">
        <input type="submit" id="submit">
    </section>

    <footer>
        <p>if you have any suggestions or complains regarding to this
            wesite plese dm us.
        </p>
    </footer>
</body>
</html>