<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inbox</title>
    <link rel="stylesheet" media="screen and (max-width:600px)" href="{{url_for('static',filename='style/home600.css')}}">
    <link rel="stylesheet" media="screen and (min-width:601px)" href="{{url_for('static',filename='style/large.css')}}">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/cookies.js')}}"></script>
</head>
<body>
    <nav>
        <div>
            <img  alt="profile" id="profile_pic" height="32px">
            <h1 class="username">
            </h1>
        </div>
        <ul>
          <li><a href="#" style="background-color: black;">Home</a></li>
          <li><a href="/chat">chat box</a></li>
          <li><a href="/chatbox">Chat rooms</a></li>
          <li><a href="#">Profile</a></li>
        </ul>
      </nav>
    <main>
        <h1>hello </h1>
    </main>
    <script src=""></script>
    <script>
        if (!checkCookie("username")) {
            window.location.replace("/log");
        }
        $(document).ready(function () {
            $('h1.username').html(getCookie('username'));
        });
        var profile = getCookie('profile');
        $('img#profile_pic').attr('src', `static/logos/profiles/${profile}.png`);
    </script>
</body>
</html>