<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen and (max-width:600px)"  href="{{url_for('static',filename='style.css')}}">
    <title>vlcs</title>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"></script>
</head>
<body>
    <nav></nav>
    <section id="titles">
        <h1><img src="{{url_for('static',filename='mainlogo.jpeg')}}" alt="logo" id="mainlogo">VSA</h1>
        <h2>Vignan Student Association</h2>
        <h4>share and explore your talent</h4>
        <p>welome to <i>vsa</i> we created this website for a good cause, to share your talent and knowledge.
        to colab people who are with same interests,</p>
    </section>
    <a href="/chatrm">chat rooms</a>
    <a href="/find a friend"></a>
</body>
</html>